<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>timor-yz博客 - 头部页面</title>
</head>
<body>
<div class="common-header" data-th-fragment="header">
    <h1>头部页面</h1>
    <a th:href="@{'/web/index'}">主页</a>
    <shiro:notAuthenticated>
    	<a th:href="@{'/tologin'}">登录</a>
    	<a th:href="@{'/regist/toregist'}">注册</a>
    </shiro:notAuthenticated>
    <shiro:authenticated>
    	<shiro:principal property="username"/>
    	<a th:href="@{'/logout'}">登出</a>
    </shiro:authenticated>
</div>
</body>
</html>