/* 用户注册页面渲染css. Added By YuanZhe. 2018年12月27日 09:31:14 */
@charset "UTF-8";

.regist-main {
	width: 400px;
	margin: auto;
	margin-top: 50px;
}

.regist-title {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

.code-input {
	width: calc(100% - 100px);
	float: left;
}

.code-img-div {
	float: right;
}

.code-img {
	cursor: pointer;
	width: 100px;
	height: 38px;
}